body,
html {
  background-color: #003d7b;
}

a {
  text-decoration: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  z-index: 10;
  padding: 10px 0;
}
.registerBox {
  border-radius: 5px;
  background: white;
  animation: start-move 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.fpassword-link {
  text-decoration: none;
  color: #003d7b;
}

@keyframes start-move {
  0% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0) scale(1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3d(0, 12px, 0);
    transform: translate3d(0, 12px, 0) scale(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes out-move {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -5vh, 0);
    transform: translate3d(0, -5vh, 0) scale(1.2);
    opacity: 0;
  }
}
